# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
package-lock.json
node_modules
dist/
save/
dist-web/
dist-ssr
*.local
test/test.ts
xplugin/
src-others/
/memo.txt
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src-tauri/target/
/src-tauri/gen/
/build/
pycache/
test.ts
.wrangler/
.qoder/*


vite.config.js.timestamp-*
vite.config.ts.timestamp-*
raise.code-workspace
recc.md
__pycache__/
.tauri/
dist.zip
/scripts/
.env
/server/node/ssl/certificate


# Due to Cargo.lock makes the project build fail, we ignore it
Cargo.lock